* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(
    45deg,
    rgb(65, 65, 65) 0%,
    rgba(101, 147, 166, 1) 100%
  );
}
h2 {
  color: #f2cf63;
  font-size: 5rem;
  font-weight: bold;
  padding: 0rem 1rem 3rem 1rem;
  text-align: center;
}
.coming-soon {
  min-height: 100vh;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #f2c063;
}
.day,
.hour,
.minute,
.second {
  font-size: 4rem;
}
.confetti-img-bottom {
  height: 30vh;
  padding-top: 5vh;
}
